HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Oracle Wallet & Local Config ###
# Ignora la carpeta del wallet (ajusta el nombre si es distinto)
wallets/
**/wallets/
*.zip
*.sso
*.ora
*.jks

# Ignora archivos de propiedades con contraseñas (opcional pero recomendado)
# Si quieres subir la estructura pero no tus claves, usa un application.properties.example
application.properties
application-dev.properties